* {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}
.contenido{
    display: flex;
    gap: 10px;
}

.seccion{
    font-size: 3rem;
}

.barra-lateral{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10vh;
    padding: 4px;
    gap: 4px;
    background-color: cadetblue;
}

.elementos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
    height: 5vh;
}

@media (max-width: 640px){
    .barra-lateral{
        flex-direction: row;
        align-items: flex-end;
    }
}